# Introduction to Data Science
## Homework 2

Student Name: Titash Mandal
Student Netid: tm2761

### Part 1: Case study
- Read [this article](http://www.nytimes.com/2012/02/19/magazine/shopping-habits.html) in the New York Times.
- Use what we've learned in class and from the book to describe how one could set Target's problem up as a predictive modeling problem, such that they could have gotten the results that they did.  Formulate your solution as a proposed plan using our data science terminology.  Include all the aspects of the formulation that you see as relevant to solving the problem.  Be precise but concise.

<h1>Problem Statement:</h1>
Target observed that most shoppers don't buy everything from the same store. They visit Target only when they need certain items. During some brief periods in a person's life like pregnancy, old routines fall apart.  Our main question is , <font color='red'>how do we figure out if a customer is pregnant, even if she didn't want us to know that. </font>

<h2>Supervised Data Mining:</h2><p>
<font color='red'> Target Variable: </font><font color='blue'>Identify pregnant customers without them revealing this information. This is the dependent varialble in statistics.</font><p>
<h2>Prediction:</h2>If these pregnant woman could be identified in their second trimester, there is a good chance, these customers would be retained for years.When consumers are going through major life events, they often don't care about their shopping habits. Customers are then more vulnerable to market intervention.
<h2>Analysis:</h2>Having the huge data available to us, we can divide the data into training data set,the validation and test data sets. We need to figure out what kind of model we might want to use to make the predictions.Since the problem here is a <font color='blue'>classification problem</font> and we want to identify if a woman is pregnant or not, so the most likely model that we might want to use is the Logistic Regression Model or the Random Forest Model.

<h2>Finding Informative Attributes for Predictive Modeling:</h2>
How can we segment the population with respect to something that we would like to estimate? What are the shopping and personal habits of customers? Target assigns each user a unique <font color='red'>Guest ID number</font>. This keeps tab on everything.- things customers buy, which credit card they use, when do they fill out a coupon or a survey, or mail a refund. Linked to the Guest ID is the demographic information like age, married or not, town they live in, time it takes to drive to the store,and salary. Target can also buy data about it's customer's ethinicity, job history, magazines people read, whether they are bankrupt or rich, divorced or single. 
<h2>Data Exploration: Exploratory Analysis:</h2>
Through supervised segmentation by observing how shopping habits changed as a woman approached her due date, the employees of Target( Data Science Group) have tried to segment the population into subgroups that have different values for the target variable, Pole ran test after test, analyzing the data, and before long some useful patterns emerged.
1. Women on the baby registry buy larger quantities of unscented lotion around the beginning of their second trimester. 
2. First 20 weeks, pregnant women loaded upon supplements like calcium, magnesium and zinc.
3. When someone suddenly starts buying lots of scent-free soap and extra-big bags of cotton balls, in addition to
    hand sanitizers and washcloths, it signals they could be getting close to their delivery date.
This helped them identify the segments of population which will effect the dependent Target Variable.

<h2>Data Cleaning and Selecting Informative Attributes:</h2><bold><font color='red'>Selected variables(Attributes or Features):</font><bold> First the habits of the customers were identified. Then, the computers were able to identify 25 products which could assign each shopper a <font color='red'>"pregnancy prediction score"</font>. These are the independent variable in statistics.The due date could also be estimated within a small window and Target could send timed coupons and advertisements withing specific stages of pregnancy. Thus the shoppers with a pregnancy prediction score below a certain threshold could be eliminated and only the rest could be processed.
<h1> Modeling data:</h1>Pole applied his Alogrithm with their set of input data to every regular female shopper in Target’s national database and soon had a list of tens of thousands of women who were most likely pregnant.
<h1>Conclusion and remodeling</h1> Using data to predict a woman’s pregnancy, Target realized soon after Pole perfected his model, that this could be a public-relations disaster. This pregnancy-prediction model, might make the women who are pregnant be a little upset if they received an advertisement making it obvious Target was studying their reproductive status.
They started mixing in all these ads for things they knew a pregnant women would never buy, so the baby ads looked random. Eg- putting an ad for a lawn mower next to diapers.

### Part 2: Exploring data in the command line
For this part we will be using the data file located in `"advertising_events.csv"`. This file consists of records that pertain to some online advertising events on a given day. There are 4 comma separated columns in this order: `userid`, `timestamp`, `domain`, and `action`. These fields are of type `int`, `int`, `string`, and `int` respectively. Answer the following questions using Linux/Unix bash commands. All questions can be answered in one line (sometimes, with pipes)! Some questions will have many possible solutions. Don't forget that in IPython notebooks you must prefix all bash commands with an exclamation point, i.e. `"!command arguments"`.

[Hints: You can experiment with whatever you want in the notebook and then delete things to construct your answer later.  You can also use ssh to use the actual bash shell in your terminal and then just paste your answers here. Recall that once you enter the "!" then filename completion should work. Also, these are standard data exploration commands that are quick and easy to use in a terminal or in the notebook. We don't cover command line operations formally in this class, but these are worth learning (and thus are part of the HW). Be resourceful. Use whatever online cheat sheets or Stackoverflow to answer the question.]

1\. How many records (lines) are in this file (look up wc)?

In [1]:
# Place your code here
#Reading the dataframe to understand what the csv file contains.
import pandas
dataFrame=pandas.read_csv("advertising_events.csv")
#Printed the dataFrame to look at it's contents
dataFrame

       338  656922288      baidu.com  2
0      153  648642796     google.com  2
1      244  656930942     google.com  2
2      229  646139341    youtube.com  3
3      160  637602195     google.com  3
4      470  632791541   facebook.com  2
5      280  636651420      yahoo.com  0
6      314  648344598     google.com  1
7      487  648036229   facebook.com  2
8      344  641886933     google.com  3
9      625  635981741     google.com  1
10     635  655316474   facebook.com  3
11     499  658639823   facebook.com  3
12     503  637121162      baidu.com  1
13     278  650439997    youtube.com  2
14     659  648086789     google.com  3
15     217  653408941     google.com  3
16     130  659456593   facebook.com  0
17     653  639913263     google.com  1
18     449  652348560      yahoo.com  3
19     410  634692405     amazon.com  0
20     707  653191737   facebook.com  3
21     432  641468860    twitter.com  0
22      91  659010950   facebook.com  0
23     339  652034987     google.com  0
24     420  654511389      baidu.com  2
25     496  638143426      baidu.com  1
26     490  647331740    twitter.com  2
27     447  645732042   facebook.com  3
28     489  632593464   facebook.com  3
29      47  646952140      baidu.com  3
...    ...        ...            ... ..
10310  300  639236961     google.com  0
10311   11  651070793   facebook.com  1
10312   97  649666301     google.com  0
10313  624  654488248    twitter.com  2
10314  549  650491047    youtube.com  1
10315  647  632498769  wikipedia.org  0
10316  320  643719415     taobao.com  3
10317  728  634581525   facebook.com  0
10318  387  659892277      yahoo.com  1
10319   85  634500913   facebook.com  3
10320   83  650940322     google.com  2
10321  418  651417971   facebook.com  2
10322  260  638365034    twitter.com  1
10323  177  643640173     google.com  1
10324  424  656023612    youtube.com  0
10325  502  643664776      baidu.com  1
10326   79  633225641      baidu.com  0
10327   14  638279764   facebook.com  2
10328  295  638149599     google.com  3
10329  719  632103924   facebook.com  2
10330  563  640139876    twitter.com  3
10331  439  648729352      baidu.com  3
10332  329  636817191    twitter.com  2
10333  384  656858011   facebook.com  0
10334   68  639954548      yahoo.com  1
10335  685  647718363    youtube.com  0
10336  691  653540836  wikipedia.org  3
10337  635  653997960     google.com  1
10338  375  635790325      yahoo.com  3
10339  143  641259040      yahoo.com  1

[10340 rows x 4 columns]

In [2]:
# -l stands for the lines in the file
!wc -l "advertising_events.csv"

10341 advertising_events.csv

2\. How many unique users are in this file? (hint: consider the 'cut' command and use pipe operator '|')

In [3]:
# Place your code here
#The cut command with -d truncates the file with a delimiter ","
#We then want to find unique user ID that is column 1, Hence the flag has the number 1
#Sort them uniquely and count the number of lines

!cut -d ',' -f 1 advertising_events.csv | sort -u|wc -l

732

3\. Rank all domains by the number of visits they received in descending order. (hint: consider the 'cut', 'uniq' and 'sort' commands and the pipe operator).

In [1]:
# Place your code here
!cut -d ',' -f 3 advertising_events.csv | sort -n | uniq -c | sort -nr

   3114 google.com
   2092 facebook.com
   1036 youtube.com
   1034 yahoo.com
   1022 baidu.com
    513 wikipedia.org
    511 amazon.com
    382 qq.com
    321 twitter.com
    316 taobao.com

4\. List all records for the user with user id 37. (hint: this can be done using 'grep')

In [3]:
# Place your code here
#The symbol \b matches the empty string at the edge of a word
!grep '\b37\b' advertising_events.csv

37,648061658,google.com,0
37,642479972,google.com,2
37,644493341,facebook.com,2
37,654941318,facebook.com,1
37,649979874,baidu.com,1
37,653061949,yahoo.com,1
37,655020469,google.com,3
37,640878012,amazon.com,0
37,659864136,youtube.com,1
37,640361378,yahoo.com,1
37,653862134,facebook.com,0
37,648828970,youtube.com,0

### Part 3: Dealing with data Pythonically

In [2]:
# You might find these packages useful. You may import any others you want!
import pandas as pd
import numpy as np

1\. Load the data set `"ads_dataset.tsv"` into a Python Pandas data frame called `ads`.

In [3]:
# Place your code here
import pandas as pd
import numpy as np
ads=pd.read_csv("ads_dataset.tsv",sep='\t')
ads

,isbuyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins,y_buy
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,106,106,0,0,169,2130,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,72,72,0,0,154,1100,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,5,5,0,0,4,12,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,6,6,0,0,150,539,0
NaN,0,NaN,2,0.0,0.500000,0.0,-101.149300,101,101,0,1,103,362,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,42,42,0,0,17,35,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,42,42,0,0,42,110,0
NaN,0,NaN,2,0.0,29.791670,0.0,-106.188300,121,121,0,1,101,401,0
NaN,0,NaN,3,0.0,45.479170,0.0,-34.144730,64,64,0,1,100,298,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,13,13,0,0,53,247,0
NaN,1,1.0,2,0.0,0.958333,0.0,-20.671200,21,21,0,1,65,175,0
NaN,0,NaN,2,0.0,21.333330,0.0,-108.323000,118,118,0,1,163,891,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,151,151,0,0,24,198,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,19,19,0,0,16,48,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,81,81,0,0,32,177,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,68,68,0,0,64,305,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,36,36,0,0,76,163,0
NaN,0,NaN,2,0.0,15.958330,0.0,-6.683471,14,14,0,1,101,1105,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,19,19,0,0,30,76,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,70,70,0,0,168,1317,0
NaN,0,NaN,2,0.0,27.250000,0.0,-124.610000,138,138,0,1,172,828,0
NaN,0,NaN,2,0.0,133.125000,0.0,50.474090,16,16,0,1,67,396,0
NaN,0,NaN,3,0.0,8.395833,0.0,2.534722,3,3,0,1,146,398,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,9,9,0,0,-1,26,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,145,145,0,0,179,1215,0
NaN,0,NaN,8,0.0,15.994050,0.0,12.569260,1,1,0,1,64,167,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,39,39,0,0,165,3883,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,34,34,0,0,96,219,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,135,135,0,0,143,1011,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,77,77,0,0,81,219,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,6,6,0,0,0,182,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,44,44,0,0,84,139,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,85,85,0,0,169,276,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,49,49,0,0,18,45,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,30,30,0,0,53,506,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,10,10,0,0,109,1131,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,77,77,0,0,11,38,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,14,14,0,0,9,87,0
NaN,0,NaN,3,0.0,28.229170,0.0,-7.932672,26,26,0,1,162,1178,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,48,48,0,0,39,139,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,38,38,0,0,26,117,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,70,70,0,0,171,506,0
NaN,0,NaN,2,0.0,8.541667,0.0,-14.237070,18,18,0,1,-1,3,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,71,71,0,0,63,254,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,185,185,0,0,184,1358,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,95,95,0,0,164,2462,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,134,134,0,0,174,499,0
NaN,0,NaN,10,0.0,7.101852,0.0,3.137754,3,3,0,1,103,255,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,109,109,0,0,143,808,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,57,57,0,0,164,1912,0
NaN,0,NaN,2,0.0,131.083300,0.0,34.678500,30,30,0,1,30,214,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,181,181,0,0,22,125,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,69,69,0,0,95,187,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,119,119,0,0,103,1338,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,37,37,0,0,1,22,0
NaN,0,NaN,3,0.0,30.979170,0.0,12.621240,8,8,0,1,168,2080,0
NaN,0,NaN,2,0.0,1.041667,0.0,-0.916713,1,1,0,1,1,15,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,20,20,0,0,132,556,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,180,180,0,0,71,400,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,185,185,0,0,77,401,0

2\. Write a Python function called `getDfSummary()` that does the following:
- Takes as input a data frame
- For each variable in the data frame calculates the following features:
  - `number_nan` to count the number of missing not-a-number values
  - Ignoring missing, NA, and Null values:
    - `number_distinct` to count the number of distinct values a variable can take on
    - `mean`, `max`, `min`, `std` (standard deviation), and `25%`, `50%`, `75%` to correspond to the appropriate percentiles
- All of these new features should be loaded in a new data frame. Each row of the data frame should be a variable from the input data frame, and the columns should be the new summary features.
- Returns this new data frame containing all of the summary information

Hint: The pandas `describe()` [(manual page)](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.describe.html) method returns a useful series of values that can be used here.

In [13]:
def getDfSummary(input_data): 
    
    #Calculating the distinct values of each column and store as series
    number_distinct=input_data.apply(pd.Series.nunique)
    
    #Make a dataFrame as asked in the problem containing these variables using describe method
    output_data = pd.DataFrame(input_data.describe().transpose())
    
    #Convert series to the column in DataFrame
    output_data['number_distinct']=(number_distinct)
    
    #Count column not needed so drop it
    output_data=output_data.drop('count',axis=1)
    
    #Find the missing NaN values from the DataFrame
    #This means count the number of values which are NaN
    output_data['number_nan']=input_data.isnull().sum()
    
    return output_data

getDfSummary(ads)

,mean,std,min,25%,50%,75%,max,number_distinct,number_nan
isbuyer,0.042632,0.202027,0.0000,0.0,0.0,0.000000,1.00000,2,0
buy_freq,1.240653,0.782228,1.0000,1.0,1.0,1.000000,15.00000,10,52257
visit_freq,1.852777,2.921820,0.0000,1.0,1.0,2.000000,84.00000,64,0
buy_interval,0.210008,3.922016,0.0000,0.0,0.0,0.000000,174.62500,295,0
sv_interval,5.825610,17.595442,0.0000,0.0,0.0,0.104167,184.91670,5886,0
expected_time_buy,-0.198040,4.997792,-181.9238,0.0,0.0,0.000000,84.28571,348,0
expected_time_visit,-10.210786,31.879722,-187.6156,0.0,0.0,0.000000,91.40192,15135,0
last_buy,64.729335,53.476658,0.0000,18.0,51.0,105.000000,188.00000,189,0
last_visit,64.729335,53.476658,0.0000,18.0,51.0,105.000000,188.00000,189,0
multiple_buy,0.006357,0.079479,0.0000,0.0,0.0,0.000000,1.00000,2,0
multiple_visit,0.277444,0.447742,0.0000,0.0,0.0,1.000000,1.00000,2,0
uniq_urls,86.569343,61.969765,-1.0000,30.0,75.0,155.000000,206.00000,207,0
num_checkins,720.657592,1275.727306,1.0000,127.0,319.0,802.000000,37091.00000,4628,0
y_buy,0.004635,0.067924,0.0000,0.0,0.0,0.000000,1.00000,2,0

3\. How long does it take for your `getDfSummary()` function to work on your `ads` data frame? Show us the results below.

Hint: `%timeit getDfSummary(ads)`

In [5]:
# Place your code here
%timeit getDfSummary(ads)

10 loops, best of 3: 76.4 ms per loop

4\. Using the results returned from `getDfSummary()`, which fields, if any, contain missing `NaN` values?

In [6]:
# Place your code here
#Store the result in a dataFrame and check which row in the column 'number_nan' has value >0
returned_result=getDfSummary(ads)
returned_result.index[returned_result['number_nan'] > 0]

Index(['buy_freq'], dtype='object')

5\. For the fields with missing values, does it look like the data is missing at random? Are there any other fields that correlate perfectly, or predict that the data is missing? If missing, what should the data value be?

Hint: create another data frame that has just the records with a missing value. Get a summary of this data frame using `getDfSummary()` and compare the differences. Do some feature distributions change dramatically?

In [14]:
# Place your code here
#Make a new DataFrame whith only null values
NanDataFrame=ads[ads.isnull().any(axis=1)]
getDfSummary(NanDataFrame)

,mean,std,min,25%,50%,75%,max,number_distinct,number_nan
isbuyer,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,1,0
buy_freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,52257
visit_freq,1.651549,2.147955,1.0000,1.0,1.0,2.000000,84.00000,48,0
buy_interval,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,1,0
sv_interval,5.686388,17.623555,0.0000,0.0,0.0,0.041667,184.91670,5112,0
expected_time_buy,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,1,0
expected_time_visit,-9.669298,31.239030,-187.6156,0.0,0.0,0.000000,91.40192,13351,0
last_buy,65.741317,53.484622,0.0000,19.0,52.0,106.000000,188.00000,189,0
last_visit,65.741317,53.484622,0.0000,19.0,52.0,106.000000,188.00000,189,0
multiple_buy,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,1,0
multiple_visit,0.255602,0.436203,0.0000,0.0,0.0,1.000000,1.00000,2,0
uniq_urls,86.656180,61.996711,-1.0000,30.0,75.0,155.000000,206.00000,207,0
num_checkins,721.848518,1284.504018,1.0000,126.0,318.0,803.000000,37091.00000,4570,0
y_buy,0.003024,0.054904,0.0000,0.0,0.0,0.000000,1.00000,2,0

In [ ]:
'''
Observation
We observe that a lot of variables have changed.
Especially the variables related to buy: isbuyer, buy_interval, expected_time_buy, multiple_buy have their mean, max, 
std become 0
This strongly suggests that these variables are correlating with buy_freq.
After observing the output of the getDfSummary(ads), only 'buy_freq' has NaN values.
On closer inspection, the variable 'isbuyer' perfectly predicts 'buy_freq'.
If 'isbuyer' is 0, then the corresponding value for 'buy_freq' is NaN.
If 'isbuyer' is 1, then we have the corresponding value for 'buy_freq' to be an integer.
We can fill in the NaN values with 0, as a non-buyer is likely to have a buying frequency of 0.
''

6\. Which variables are binary?

In [12]:
# Place your code here
#print(ads.columns.tolist)
bool_cols = [col for col in ads if ads[[col]].isin([0, 1]).all().values]
print(bool_cols)

['isbuyer', 'multiple_buy', 'multiple_visit', 'y_buy']